html,
body {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
  font-family: Roboto;
  font-size: 10px;
  line-height: 3.5em; /* 35 pixels */
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-family:Roboto Condensed;
  
}

h1{
  font-size:9em;
  text-align: center;
  text-transform:uppercase;
  
}
h2{
  color:white;
  text-shadow:#020819 8px -20px 9px;
  font-size: 5em;
text-align: center;
text-transform: uppercase;
  line-height:2em;
}

h3{
  font-size: 4.2em;
text-align: center;
line-height: 1em;
  
}
h4{
  font-size: 1.5em;
letter-spacing: 0.4px;
line-height: 1em
  
}

h5{
  font-size: 1.2em;
line-height: 1em;
}

.nav-bar {
  background-color:DarkBlue;
}

.nav-bar a {
  color:white;
  text-decoration:none;
  font-size:2em;
}

.nav-bar li {
  color:white;
}

header{
  background-image:url('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:650px;
}

aside{
  font-size:2em;
}

.dark-background{
  background-color: darkblue;
  color: white;
}

.text-one{
font size: 2em;
font-weight: 100;
text-align: center;
  
}

.link-btn{
  background color:rgba(26, 111, 195, 0.61);
color: white;
font-family: Roboto Condensed;
font-size: 2em;
letter-spacing: 0.5px;
text-align: center;
text-decoration: none;
  
}

.service-box{
  font-size: 1.7em;
text-align: center;
}

.service-box img{
  width:125px;
}

.section-text{
  font-size:1.9em;
  text-align:center;
}


.member-name b {
  position: relative;
  top: 0;
}

.member-name img {
  display: block;
}

.member-name{
  
  font-size: 1.5em;
  font-weight: 700;
 
}

.member-name img {
  width: 250px;
  height: 180px;
  
}

.footer{
  text-align:center;
  font-size:1.9em;
}

.social-link{
  color:rgba(124, 182, 240, 0.51);
}

.dot li{
  text-align:center;
margin: 100px;
}